In [17]:
import pandas as pd

In [18]:
zam_praha = pd.read_csv("zam_praha.csv")
zam_plzen = pd.read_csv("zam_plzen.csv")
zam_liberec = pd.read_csv("zam_liberec.csv")
platy = pd.read_csv("platy_2021_02.csv")
vykazy = pd.read_csv("vykazy.csv")

zam_praha["město"] = "Praha"
zam_plzen["město"] = "Plzeň"
zam_liberec["město"] = "Liberec"

In [19]:
zamestnanci = pd.concat([zam_liberec, zam_plzen, zam_praha])

In [20]:
platy_zamestnanci = pd.merge(platy, zamestnanci, on="cislo_zamestnance")
platy_zamestnanci.head(20)

,cislo_zamestnance,plat,jmeno,prijimeni,telefonni_cislo,město
0,3,54900.0,Stacy,Pospíšilová,727 293 880,Plzeň
1,6,54800.0,Matěj,Král,770 787 377,Plzeň
2,7,36400.0,Amanda,Wilson,+421 52 656 7231,Plzeň
3,8,47900.0,Angel,Wilson,+421 52 135 2491,Plzeň
4,16,34200.0,Radim,Kopecký,+421 917 371 226,Plzeň
5,18,35400.0,Miroslav,Reed,774 829 074,Plzeň
6,21,54200.0,Emilie,Powell,731 380 539,Plzeň
7,22,34400.0,Nikola,Wade,726 763 154,Plzeň
8,23,39000.0,Katherine,Reed,726 214 968,Plzeň
9,24,44200.0,Kayla,Urbanová,737 772 985,Plzeň
10,26,59600.0,Roman,Moreno,722 284 985,Plzeň
11,27,45100.0,Bohumila,Smith,608 121 912,Plzeň
12,28,38100.0,Blažena,Smith,+421 51 828 2591,Plzeň
13,29,48900.0,Phillip,Malý,731 594 560,Plzeň
14,30,33500.0,Brian,Hall,+421 949 656 098,Praha
15,32,53000.0,Marta,Kolářová,730 456 163,Praha
16,33,38400.0,John,Moravec,725 092 179,Praha
17,34,36800.0,Dominika,Kopecká,722 747 626,Praha
18,38,32600.0,Milada,Hernandez,773 373 704,Praha
19,40,32800.0,Catherine,Bender,604 068 460,Praha

In [21]:
print(platy.shape)
print(zamestnanci.shape)
print(platy_zamestnanci.shape)

(43, 2)
(56, 5)
(43, 6)

In [22]:
print(platy_zamestnanci.groupby("město")["plat"].mean())

město
Liberec    43775.000000
Plzeň      44792.857143
Praha      43295.238095
Name: plat, dtype: float64

In [23]:
vykazy.shape

(27, 4)

In [24]:
print(vykazy.groupby("project")["hours"].sum())

project
F30    21.5
JL9     2.1
TE1    16.0
W05    30.5
YLI    31.0
Name: hours, dtype: float64